<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b6a0edf9cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Movie-api-Home</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <img src="/images/img6.jpg" class="card-img" alt="...">
            <h1 class="mov-head">Movie-api</h1>
            <h2 class="head2">Fast and Secure API for movies.</h2>
            <h3 class="head3">Register or Login in to register your client app.</h3>
            <a href="/register"><button type="button" class="btn btn-dark">Register</button></a>
            <a href="/login"><button type="button" class="btn btn-success">Login</button></a><br><br>
            <a href="/auth/google"><button type="button" class="btn btn-danger"><i class="fab fa-google"></i>Login with google</button></a>
        </div>
      </div>
</body>
</html>